{{#hiding-menu}}

  {{link-to "Link 1" "application"}}
  {{link-to "Link 2" "application"}}
  {{link-to "Link 3" "application"}}
  {{link-to "Link 4" "application"}}
  {{link-to "Link 5" "application"}}

{{/hiding-menu}}

{{#each (repeat 50) as |n|}}

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quam aperiam accusantium, eius earum similique consectetur iure. Ad voluptatum harum, fuga officia, qui id eligendi pariatur vitae dicta sapiente maiores.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quam aperiam accusantium, eius earum similique consectetur iure. Ad voluptatum harum, fuga officia, qui id eligendi pariatur vitae dicta sapiente maiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quam aperiam accusantium, eius earum similique consectetur iure. Ad voluptatum harum, fuga officia, qui id eligendi pariatur vitae dicta sapiente maiores.</p>

{{/each}}


{{#hiding-menu class="bottom"}}

  {{link-to "Link 1" "application"}}
  {{link-to "Link 2" "application"}}
  {{link-to "Link 3" "application"}}
  {{link-to "Link 4" "application"}}
  {{link-to "Link 5" "application"}}

{{/hiding-menu}}